#noDatabase{
	margin-top: 100px;
	background-color: transparent;
	height: 150px;
	width: 1100px;
	padding-top: 10px; 
	font-weight: bolder;
	text-align: center;
}

#container{
	background-color: transparent;
	margin-top: 100px;
	height: 150px;
	width: 1100px;
	padding: 5px;
}

#contenitoreImage{
	background-color: transparent;
	height: 150px;
	width: 150px;
	float: left;
	border-radius: 5px;
	border: 1px solid rgb(0, 127, 255);
}

#prezzoField{
	background-color: transparent;
	height: 25px;
	width: 1100px;
	margin-top: 35px;
}

#compraField{
	height: 50px;
    width:  214px;
    background-color: transparent;
    margin-top: 25px;
    margin-left: 350px;
    padding:0px;
}

#plateVehicle{
	background-color: transparent;
	height: 50px;
	width: 500px;
	margin-left: 4px;
	float: left;

}

#modelVehicle{
	background-color: transparent;
	height: 50px;
	width: 500px;
	margin-left: 4px;
	float: left;

}

#descriptionVehicle{
	background-color: transparent;
	height: 50px;
	width: 500px;
	margin-left: 4px;
	float: left;
}

#idVehicle{
	background-color: transparent;
	height: 60px;
	width: 130px;
	float: left;
	margin-left: 20px;
	margin-top: -100px;
}


#removeVehicle{
	height: 50px;
	width: 214px;
	margin-right: 5px;
	margin-top: -50px;
	background-color: transparent;
	float: right;
}


#priceVehicle{
	background-color: transparent;
	height: 60px;
	width: 130px;
	float: left;
	margin-left: 20px;
	margin-top: -15px;
}

#image2{
	max-width: 150px;
	height: 150px;
}

#titleDiv{
	background-color: transparent;
	width: 500px;
	height: 25px;
	float: left;
}

#titleBox{
	background-color: transparent;
	width: 130px;
	height: 25px;
}

#littleThing{
	background-color: transparent;
	margin-top: 2px;
	width: 130px;
	height: 30px;
}


#inputeField{
	background-color: transparent;
	width: 500px;
	height: 25px;
	float: left;
}
/* termine div degli elementi che saranno dentro il workout
 * Inizio stile degli elementi presi dal database */

#title{
	text-align: center;
	font-size: 14pt;
	font-family: fantasy;
	margin-top: 0px;
}

#modello{
	width: 500px;
	height: 25px;
	font-family: fantasy;
	font-size: 14pt;
	border-radius: 5px;
	border-color: rgb(0, 127, 255);
}

#description{
	width: 500px;
	height: 25px;
	font-family: fantasy;
	font-size: 14pt;
	border-radius: 5px;
	border-color: rgb(0, 127, 255);

}

#plate{
	width: 500px;
	height: 25px;
	font-family: fantasy;
	font-size: 14pt;
	border-radius: 5px;
	border-color: rgb(0, 127, 255);	
}


#errorMsg{
	text-align: center;
	font-size: 24pt;
	font-family: fantasy;
}

#uniqueValue{
	width: 130px;
	height: 30px;
	font-family: fantasy;
	font-size: 10pt;
	border-radius: 5px;
	border-color: rgb(0, 127, 255);
}

#titlePrezzo{
	height: 25px;
	width: 150px;
	background-color: transparent;
	float: left;
}

#inputPrezzo{
	margin-left: 11px;
	width: 500px;
	height: 25px;
	background-color: transparent;
	float: left;
}

#prezzoTot{
	width: 500px;
	height: 25px;
	font-family: fantasy;
	font-size: 10pt;
	border-radius: 5px;
	border-color: rgb(0, 127, 255);
}

/* bottoni */


#removeButton{
    line-height: 3em;
    border-radius: 5px;
    background-color: transparent;
    border: 3px outset rgb(0, 127, 255);
    color:rgb(0, 127, 255);
    height: 50px; /*altezza bottone */
    width:  214px;  /*larghezza bottone */
    font-weight: bolder;
}

#compraButton{
    line-height: 3em;
    border-style: outset;
    border-radius: 5px;
    background-color: transparent;
    border: 3px outset rgb(0, 127, 255);
    color:rgb(0, 127, 255);
    height: 50px; /*altezza bottone */
    width:  214px;  /*larghezza bottone */
    font-weight: bolder;
    margin-top: 0px;
}


